 body {
  background: #0e101c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
root{
--color-secondary: #bf1650;
--color-light-pink: #ec5990;
--color-primary: #0e101c;
--color-blue: #1e2a4a;
--color-button-blue: #191d3a;
--color-light-blue: #516391;
--color-link: #ff7aa8;
--color-medium-blue: #4f6294;
--color-black: #2d2d2d;
--color-purple: #0f111b;
--color-grey: #333;
--color-light-grey: #ccc;
}

